body{
    background-color: black;
    width: 100%;
    margin: 0;
    touch-action: none;
}

.calculator{
    width:95%;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.upper-calc{
    position: relative;
    width: 100%;
    min-height: 110px;
    margin-top: 70px;
}

.calc-display{
    position: absolute;
    color: white;
    font-size: 5em;
    bottom: 0;
    right: 0;
    
}


.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
 font-size: 1em;
 height: 60px;
 width: 60px;
 background-color: #343a40;
 border-radius: 50%;
 display: inline-block;
 margin: 9px 3px;
 display:flex;
 justify-content: center;
 align-items: center;
 color: white;
 border: none;
}

.btn--orange{
    background-color: #fd9f2b;
}
.orange-hover{
    background-color: #febc6b;
    cursor: pointer;
}
.number-hover{
    background-color: #85898c;
    cursor: pointer;
}

.btn-zero{
    width: 45%;
    border-radius: 45px;    
}


/* iphone 5se */
@media only screen and (min-width: 348px){
    .btn{
        font-size: 1em;
        margin: 9px 6px;
    }
}

@media only screen and (min-width: 428px){
    .calc-display{
        font-size: 3.8em;
    }
    .btn{
      height: 75px;
      width: 75px;
      font-size: 2em;
    }
}

@media only screen and (max-width: 300px){
    .calc-display{
        font-size: 3.5em;
    }
}


@media only screen and (min-width: 458px) {
    .calculator{
        width: 432px;
    }
}

