body{
    background-color: black;
    width: 100%;
    margin: 0;
}

.calculator{
    width:95%;
    border: red solid 1px;
    margin: 0 auto;
}

.calc-display{
    background-color: yellow;
    width: 100%;
    margin: 0 auto;
    min-height: 72px;
    margin-top: 70px;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
 font-size: 2em;
 height: 75px;
 width: 75px;
 background-color: #343a40;
 border-radius: 50%;
 display: inline-block;
 margin: 9px 6px;
 display:flex;
 justify-content: center;
 align-items: center;
 color: white;
 border: none;
}

.btn-zero{
    flex-grow: 2;
    border-radius: 45px;
    justify-content: left;
    padding-left: 24px;
    
}